h1{
	color:#FF4500
;
}
body{
	background:url(https://images.pexels.com/photos/1562/italian-landscape-mountains-nature.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
}
p{
	background: #B0C4DE;
}
strong{
	color:#C71585;
}