body{
	background: url("https://media.swncdn.com/cms/CW/family/12821-to-do-list.1200w.tn.jpg");
	background-size:  cover;
}

#good{
	color:gold;
	text-decoration:underline;
}

.special{
	color:chartreuse;
}
/*attribute selector*/
a[href="http://www.speedtest.net/"]{
	color:magenta;
	text-decoration: blink;
}